@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* VARIABLES */
// $theme-dark: #3A4D39;
// $theme-med: #4F6F52;
// $theme-light: #739072;
// $theme-accent: #ECE3CE;

$theme-dark: #232931;
$theme-light: #393E46;
$theme-accent: #4ECCA3;
$theme-text: #EEEEEE;

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

html, body, #root {
  height: 100vh;
  color: $theme-text;
}

/* GLOBAL CLASSES */
body {
  background-color: $theme-dark;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0 2%;
}

a {
  text-decoration: none;
  color: white;
}

/* CUSTOM CLASSES */
header {
  background-color: $theme-accent;
  .logo {
    height: 36px
  }
  nav {
    :not(:last-child) {
      margin-right: 10px;
    }
    :hover, .active {
      text-decoration: underline;
    }
  }
}

.contact {
  input {
    color: #000;
  }
  #message {
    border: $theme-light solid 4px;
    color: $theme-text;
    background-color: darken($theme-light, 8%);
  }
  button {
    background-color: darken($theme-accent, 10%);
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: darken($theme-accent, 18%);
    }
  }
}

.about {
  padding: 0 5%;
  p {
    margin-bottom: 10px;
  }
  button {
    background-color: darken($theme-accent, 10%);
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: darken($theme-accent, 18%);
    }
  }
}

footer {
  i {
    color: $theme-text;
  }
  a:not(:last-child) {
    margin-right: 5px;
  }
  p {
    font-size: 14px;
    span {
      font-size: 10px;
    }
  }
  .pokeball-img {
    height: 36px;
    width: 35px;
    transition: transform 0.2s ease;
    &:hover {
      transform: rotate(-20deg);
    }
  }
}

