@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* VARIABLES */
$theme-dark: #232931;
$theme-light: #393E46;
$theme-accent: #4ECCA3;
$theme-text: #EEEEEE;

@font-face {
  font-family: 'pokemon';
  src: url('./assets/pokemon-font.ttf');
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100vh;
  color: $theme-text;
}

/* GLOBAL CLASSES */
body {
  background-color: $theme-dark;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0 2%;
}

a {
  text-decoration: none;
  color: white;
}

.my-btn {
    background-color: darken($theme-accent, 10%);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: darken($theme-accent, 18%);
    }
}

/* CUSTOM CLASSES */
header {
  background-color: $theme-accent;

  nav {
    :not(:last-child) {
      margin-right: 16px;
    }

    .active {
      text-decoration: underline;
    }
  }
}

.home {
  padding: 0 5%;

  hr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 1px;
    border: none;
  }

  img {
    border-radius: 6px;
  }
}

.contact {
  input {
    color: #000;
  }

  #message {
    border: $theme-light solid 4px;
    color: $theme-text;
    background-color: darken($theme-light, 8%);
  }

  .Toastify__toast-container > * {
    background-color: lighten($theme-light, 5%);
    color: $theme-text;

    &:first-child {
      margin-top: 14%;
    }
    
    button {
      color: #fff;
    }
  }
}

.about {
  padding: 0 5%;

  p {
    margin-bottom: 10px;
  }
}

.editing {
  padding: 0 5%;

  p {
    margin-bottom: 10px;
  }
}

.projects {
  padding: 0 5%;

  .project-card {
    background-color: darken($theme-light, 5%);
    border-radius: 2%;
    border: lighten($theme-light, 5%) solid 4px;
    height: 500px;
    width: 300px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: none;
    
    &:hover {
      transform: translate(5px, -5px);
      box-shadow: -4px 0 8px lighten($theme-dark, 10%), 0 4px 8px lighten($theme-dark, 10%);
    }

    .project-img {
      height: 225px;
      border-radius: 2%;
      border: lighten($theme-light, 5%) solid 1px;
    }
  }
}

.pokemon-container {
  .pokeball-btn {
    padding: 1%;

    :hover {
      transform: rotate(35deg);
    }
  }

  p,
  span {
    font-family: 'pokemon';
    color: $theme-text;
  }
}

.success {
  padding: 0 5%;
}

.not-found {
  padding: 0 5%;
}

.error {
  padding: 0 5%;
}

footer {
  i {
    color: $theme-text;
  }

  a:not(:last-child) {
    margin-right: 5px;
  }

  p {
    font-size: 14px;

    span {
      font-size: 10px;
    }
  }

  .pokeball-img {
    height: 36px;
    width: 35px;
    transition: transform 0.2s ease;

    &:hover {
      transform: rotate(-20deg);
    }
  }
}