@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* GLOBAL CLASSES */
a {
  text-decoration: none;
  color: white;
}

/* CUSTOM CLASSES */
header {
  background-color: rgb(205, 200, 137);
  .logo {
    height: 50px
  }
  nav {
    :not(:last-child) {
      margin-right: 10px;
    }
    :hover, .active {
      text-decoration: underline;
    }
  }
}

footer {
  i {
    color: black;
  }
  a:not(:last-child) {
    margin-right: 5px;
  }
  p {
    font-size: 18px;
    span {
      font-size: 12px;
    }
  }
  .pokeball-img {
    height: 46px;
    width: 45px;
    transition: transform 0.2s ease;
    &:hover {
      transform: rotate(-20deg);
    }
  }
}